@page
@model WorkoutTracker.Pages.ArchiveModel
@{


    @* Archive Page *@

    <div class="container">        
        <div class="filter-section mt-3">
            <div class="row">             
                <div class="col-sm text-center align-middle" style="color: white">
                    Filter By:
                    <select data-val="true" id="Filter" name="Filter">
                        <option selected="selected" value="0">Date</option>
                        <option value="1">Weight</option>
                        <option value="2">Sleep Duration</option>
                        <option value="3">Calories Eaten</option>
                        <option value="4">Start Time</option>
                        <option value="5">End Time</option>
                        <option value="6">Rating</option>
                        <option value="7">Duration</option>
                        <option value="8">Average Heart Rate</option>
                        <option value="9">Indoor/Outdoor</option>
                        <option value="10">Weather Type</option>
                        <option value="11">Location</option>
                    </select>
                </div>
            </div>
        </div>        
    </div>



}

