@page
@model IndexModel
@{
    ViewData["Title"] = " Home Page";
}

<div class="grid-container">
    <h1>Trends</h1>
</div>
<p style="color: white">This is where we will implement the Add Data Button and the 4 Report-Type Graphs.</p>


<input type="button" value="Add Workout" id="myButton" onclick="redirectOnClick()" name="addWorkout"/>
<script>
    function redirectOnClick() {
        document.location = 'AddWorkout';
    }
</script>