@page
@model IndexModel
@{
    ViewData["Title"] = " Home Page";
}

<div class="page">
    <div class="container">
        <div class="top-section mt-3">
            <div class="row">
                <div class="col-sm">
                    <h1>Trends</h1>
                </div>
                <div class="col-sm text-center align-middle">
                    <a href="./AddWorkout" role="button" class="btn btn-primary">Add Workout</a>
                </div>
            </div>
        </div>
    </div>
</div>



@*<input type="button" value="Add Workout" id="myButton" onclick="redirectOnClick()" name="addWorkout"/>
    <script>
        function redirectOnClick() {
            document.location = 'AddWorkout';
        }
    </script>*@






@*@{
    var myChart = new Chart(width: 600, height: 400)
        .AddTitle("Chart Title")
        .AddSeries(
            name: "Employee",
            xValue: new[] { "Peter", "Andrew", "Julie", "Mary", "Dave" },
            yValues: new[] { "2", "6", "4", "5", "3" })
        .Write();
}*@