@page
@model IndexModel
@{
    ViewData["Title"] = " Home Page";
}
@using Highsoft.Web.Mvc.Charts;
@using Highsoft.Web.Mvc.Charts.Rendering;

@* Index Page *@

<div class="page">
    <div class="container">
        <div class="top-section mt-3">
            <div class="row" id="topSectionContainer">
                <div class="col-sm">
                    <h1>Trends</h1>
                </div>
                <div class="col-sm text-right">
                    <a href="./AddWorkout" role="button" class="btn btn-primary">Add Workout</a>
                </div>
            </div>
        </div>
        <div class="graphs">
            <div class="row">
                <div class="col-sm" id="chart1"></div>
                <br />
                <div class="col-sm" id="chart2"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm" id="chart3"></div>
                <br />
                <div class="col-sm" id="chart4"></div>
            </div>
        </div>
    </div>
</div>

<br />

<script src="https://code.highcharts.com/highcharts.src.js"></script>

<!--Chart 1-->
<script>

    Highcharts.chart('chart1', {

        title: {
            text: 'Top 5 Highest Heartrate Workouts'
        },

        chart: {
            type: 'column',
            borderRadius: 20,
            style: {
                fontFamily: 'Roboto'
            }
        },

        yAxis: {
            title: {
                text: 'BPM'
            }
        },

        xAxis: {
            accessibility: {
                rangeDescription: 'Range: 2010 to 2017'
            }
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: 2010
            }
        },

        series: [{
            name: 'Heart Rate',
            data: [@Model.topHeartRates],
            color: '#E07B1D'
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>