@page
@model IndexModel
@{ 
    ViewData["Title"] = "Home page";
}
@using WorkoutTracker.Models
@using Highsoft.Web.Mvc.Charts
@using Highsoft.Web.Mvc.Charts.Rendering

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


@* Index Page *@

<div class="page">
    <div class="container">
        <div class="top-section mt-3">
            <div class="row" id="topSectionContainer">
                <div class="col-sm">
                    <h1>Trends</h1>
                </div>
                <div class="col-sm text-right">
                    <a href="./AddWorkout" role="button" class="btn btn-primary">Add Workout</a>
                </div>
            </div>
        </div>
            <div class="graphs">
                <div class="row">
                    <div class="col-sm" id="chart1"></div>
                    <br />
                    <div class="col-sm" id="chart2"></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm" id="chart3"></div>
                    <br />
                    <div class="col-sm" id="chart4"></div>
                </div>
            </div>
    </div>
</div>
}
<br />

<script>
    var topHeartRates = [];
    var dates = new Array();
    @foreach(TopHeartRates workout in Model.topHeartRates)
    {
        <text>
                topHeartRates.push(@Math.Round(workout.AvgHeartRate, 2))
                dates.push("@workout.Date")
        </text>
    }


    Highcharts.chart('chart1', {

        chart: {
            borderRadius: 20,
            type: "column",
            style: {
                'font-family': 'Roboto'
            }
        },

        title: {
            text: 'Top 5 Highest Heart Rate Workouts'
        },

        yAxis: {
            title: {
                text: 'BPM'
            }
        },

        xAxis: {
            Title: {
                text: 'Date'
            },
            type: "category",
            categories: dates
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        series: [{
            name: "Heart Rate",
            data: topHeartRates,
            color: "#E07B1D"
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>
