@page
@model IndexModel
@{
    ViewData["Title"] = " Home Page";
}

<div class="page">
    <div class="container">
        <div class="top-section mt-3">
            <div class="row">
                <div class="col-sm">
                    <h1>Trends</h1>
                </div>
                <div class="col-sm">                
                    <a href="./AddWorkout" role="button" class="btn btn-primary">Add Workout</a>                  
                </div>
            </div>
        </div>
    </div>
</div>



@*<input type="button" value="Add Workout" id="myButton" onclick="redirectOnClick()" name="addWorkout"/>
<script>
    function redirectOnClick() {
        document.location = 'AddWorkout';
    }
</script>*@