@page
@model PrivacyModel
@{
    ViewData["Title"] = " Privacy";
}

@* Archive Page *@

<h1>@ViewData["Title"]</h1>

<p style="color: white">This is where we will have the archive that displays all of the data.</p>
